<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="databaseConnectionString" value="Server=(local);Database=WoodDeals;User Id=general_root;Password=password;" />
    <add key="searchReportWoodDeal" value="{&quot;query&quot;:&quot;query SearchReportWoodDeal($size: Int!, $number: Int!, $filter: Filter, $orders: [Order!]) {\n  searchReportWoodDeal(filter: $filter, pageable: {number: $number, size: $size}, orders: $orders) {\n    content {\n      sellerName\n      sellerInn\n      buyerName\n      buyerInn\n      woodVolumeBuyer\n      woodVolumeSeller\n      dealDate\n      dealNumber\n      __typename\n    }\n    total\n    number\n    size\n    __typename\n  }\n}\n&quot;,&quot;variables&quot;:{&quot;size&quot;:100,&quot;number&quot;:0,&quot;filter&quot;:null,&quot;orders&quot;:null},&quot;operationName&quot;:&quot;SearchReportWoodDeal&quot;}" />
    <add key="insertQuery" value="IF NOT EXISTS (SELECT * FROM WoodDeals WHERE DealNumber = @DealNumber AND SellerInn = @SellerInn AND BuyerInn = @BuyerInn) BEGIN INSERT INTO WoodDeals(SellerName, SellerInn, BuyerName, BuyerInn, WoodVolumeBuyer, WoodVolumeSeller, DealDate, DealNumber) VALUES(@SellerName, @SellerInn, @BuyerName, @BuyerInn, @WoodVolumeBuyer, @WoodVolumeSeller, @DealDate, @DealNumber) END" />
  </appSettings>
</configuration>